<ul *ngFor= 'let quote of quotes'>
    <li>{{ quote.quote }} 
        <span class="text-primary ml-3">Upvotes{{quote.upvotes}}</span>
        <span class="text-warning ml-3">Downvotes{{quote.downvotes}}</span>
    </li>
    
</ul>

<div class="container">
  <div class="row">
    <div class="col-10 col-lg-6 py-5 mx-auto quote-form">
      <div *ngIf="!user" class="text-center mt-4">
        <h2 class="text-danger">Create an account to add, like or dislike a quote</h2>
        <a routerLink="/account" class="btn btn-outline-danger my-5">Create Account</a>
      </div>
      <form *ngIf="user" (ngSubmit)="onSubmit(quote.text)">
        <h2 class="text-center text-danger">Create and Publish a Quote</h2>
        <div class="form-group py-4">
          <textarea
            type="text"
            name="text"
            [(ngModel)]="quote.text"
            class="form-control"
            placeholder="Write your quote here..."
            minlength="25"
          ></textarea>
        </div>
        <div class="text-center">
          <input
          type="submit"
          [disabled]="quote.text.length < 25"
          value="Create Post"
          class="btn btn-danger"
        />
        </div>
      </form>
    </div>
  </div>
</div>
